<div class="container-form">
  <h1 *ngIf="reservation$ | async as reservation">
    {{ reservation.title }} {{ reservation.hour }} {{ reservation.day }}
  </h1>
  <div *ngIf="tickets$ | async as tickets">
    <div *ngFor="let ticket of tickets">
      <div>
        Rząd {{ ticket.seat[0] }} Miejsce {{ ticket.seat[1] }}
        {{ ticket.type }}
      </div>
    </div>
    <div class="container-promotion">
      <div [ngClass]="promotion ? 'strikethrough' : 'strike'">
        Razem: {{ ticketPrice }} zł
      </div>
      <div *ngIf="promotion" class="strike">
        Nowa cena: {{ ticketPrice / 1.2 }} zł
      </div>
    </div>
  </div>
</div>
