.hall {
  display: flex;
  justify-content: center;
  align-items: center;
  &__container {
    display: grid;

    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0.5em;
    grid-row-gap: 0.5em;
    padding-bottom: 16px;
  }
  &__seat {
    background-color: grey;
    cursor: pointer;
    text-align: center;
    border-radius: 8px;
    padding: 8px;
    margin: 4px;
  }
}
