<div class="film">
  <div class="film-container__image">
    <div class="film-container__paragraph">
      <p *ngIf="premiere">Premiera</p>
    </div>
    <img src="{{ film.image }}" alt="{{ film.title }}" />
  </div>
  <div class="film-container__description">
    <h1>
      {{ film.title }}
    </h1>
    <div class="film-container__about_types">{{ film.types }}</div>
    <div class="film-container__about_paragraph">
      <div *ngIf="longDescription; else elseBlock">
        {{ film.description.substring(0, 240) }}
        <a (click)="showMoreDescription()">więcej</a>
      </div>
      <ng-template #elseBlock>
        {{ film.description }}
        <a (click)="showMoreDescription()">mniej</a>
      </ng-template>
    </div>

    <h2>Ocena: {{ film.rating }} / 10</h2>
    <div class="hour-container">
      <div *ngFor="let hour of hours">
        <a [routerLink]="['/rezerwacja', selectedDay, hour, film.title]">
          <ng-container *ngIf="date | changeDate as newDate">
            <button
              (click)="moreDetails(film.title, hour)"
              *ngIf="hour > newDate"
            >
              {{ hour }}
            </button>
          </ng-container>
        </a>
      </div>
    </div>
  </div>
</div>
