.film-container__image {
  width: 20vw;
  margin: 16px;
  padding: 8px;
}

h1 {
  padding-bottom: 16px;
}

h2 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.film-container__paragraph {
  position: relative;
  top: 40px;
  width: 100%;
  display: flex;
  opacity: 0.9;
  justify-content: right;
}

.film-container__paragraph p {
  padding: 4px;
  margin-top: 20px;
  width: 50%;
  border-radius: 16px 0px 0px 16px;

  text-align: center;
  opacity: 1;
  background-color: #5800ff;
}

.film-container__description {
  width: 60vw;
  padding: 32px;
}

.film-container__image img {
  border-radius: 16px;
  width: 100%;
  height: 100%;
}

.hour-container {
  display: flex;
}

.film-container__about_types {
  padding-bottom: 5px;
}

.film-container__about_paragraph a {
  cursor: pointer;
  color: #5800ff;
}

.film {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 850px) {
  .film {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
