<div class="form-container">
  <form [formGroup]="loginForm">
    <h1>Zaloguj się</h1>
    <div class="form-input">
      <label> E-mail </label>
      <input formControlName="email" />
      <label> Hasło: </label>
      <input type="password" formControlName="password" />
    </div>

    <ng-container *ngIf="loginForm.controls.email.errors as errors">
      <p *ngIf="errors['maxlength']">
        Email nie może być dłuższy niż 100 znaków.
      </p>
      <p *ngIf="errors['pattern']">
        Podaj poprawny adres email według wzoru: nazwa@domena.pl
      </p>
    </ng-container>
    <p
      *ngIf="(passwordCtrl.errors?.['required'] &&
       passwordCtrl.touched) ||
      (emailCtrl.errors?.['required'] &&
       emailCtrl.touched)
    "
    >
      Pola nie mogą byc puste.
    </p>

    <button (click)="checkValidationAndAuth()">Zaloguj</button>
  </form>
</div>
