form {
  margin: 64px;
  box-sizing: border-box;
  border-radius: 1rem;
  width: 30vw;
  height: 50vh;
  background-color: hsl(0, 0%, 5%);
  border: 1px solid #5800ff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-input {
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
