main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

/* .main-container {
} */

.main-container h1 {
  padding: 16px;
}

.main-container h2 {
  padding-left: 16px;
}

.qr-code {
  width: 10%;
}

.ticket-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.ticket-info__ticket {
  background-color: rgb(16, 16, 16);
  margin: 10px;
  border-radius: 16px;
}
