<h1>Zakupiono bilet na film</h1>
<div>
  <h2>Na dane:</h2>
  <div *ngIf="reservation$ | async as reservation">
    {{ reservation.title }} {{ reservation.day }} {{ reservation.hour }}
  </div>
</div>
<div *ngIf="tickets$ | async as tickets">
  <div *ngIf="urlValue$ | async as url">
    <div *ngFor="let exactUrl of url">
      <p routerLink="/ticket/{{ exactUrl }}">Link do biletu</p>
    </div>
    <div *ngFor="let ticket of tickets">
      <div>
        Rząd {{ ticket.seat[0] }} Miejsce {{ ticket.seat[1] }}
        {{ ticket.type }}
      </div>
    </div>
  </div>
</div>
