<main>
  <div class="main-container">
    <h1>Dziękujemy za zakup!</h1>
    <div *ngIf="reservation$ | async as reservation">
      <h2>
        {{ reservation.title }} {{ reservation.day }} {{ reservation.hour }}
      </h2>
    </div>
    <div *ngIf="tickets$ | async as tickets">
      <div *ngIf="urlValue$ | async as url" class="ticket-info-flex">
        <div class="ticket-info">
          <div *ngFor="let ticket of tickets" class="ticket-info__ticket">
            <div>
              Rząd {{ ticket.seat[0] }} Miejsce {{ ticket.seat[1] }}
              {{ ticket.type }}
            </div>
          </div>
        </div>
        <div class="ticket-info">
          <div *ngFor="let exactUrl of url" class="ticket-info__info">
            <button routerLink="/ticket/{{ exactUrl }}">Link do biletu</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
