<main>
  <div class="conainer-info" *ngIf="reservation$ | async as reservation">
    <h1>
      {{ reservation.day }} {{ reservation.hour }} {{ reservation.title }}
    </h1>
  </div>
  <div class="container-places" *ngIf="seats$ | async as seats">
    <div
      class="container-places__seat"
      *ngFor="let seat of seats; let i = index"
    >
      <div
        [style.backgroundColor]="seat.isChoosen ? '#5800ff' : 'grey'"
        *ngIf="seat.avaliable === true; else elseBlock"
        (click)="changeColor(seat.id, seat.seat)"
        class="container-places__seat--active"
      >
        {{ seat.seat }}
      </div>
      <ng-template #elseBlock>
        <div class="container-places__seat--unactive">
          {{ seat.seat }}
        </div>
      </ng-template>
    </div>
  </div>
  <div *ngIf="tickets$ | async as tickets">
    <div *ngFor="let ticket of tickets" class="container-tickets">
      Rząd {{ ticket.seat[0] }} Miejsce {{ ticket.seat[1] }}
      <select
        #ticketType
        (change)="changeKey(ticket.position, ticketType.value)"
      >
        <option *ngFor="let ticketType of ticketTypeArray[0] | keyvalue">
          {{ ticketType.key }} {{ ticketType.value }}zł
        </option>
      </select>
      <div>
        <i-feather
          name="trash-2"
          (click)="changeColor(ticket.position, ticket.seat)"
        ></i-feather>
      </div>
    </div>
  </div>
  <div class="container-next">
    <button class="conainer-next__btn" routerLink="/formularz">Dalej</button>
  </div>
</main>
