main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.conainer-info {
  padding-top: 8px;
  padding-bottom: 8px;
  width: 80vw;
  text-align: center;
}

.container-places {
  display: grid;
  grid-template-columns: repeat(11, 0.5fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0.5em;
  grid-row-gap: 0.5em;
}

.container-places__seat {
  padding-top: 0.25em;
  border-radius: 4px;
}

.container-places__seat--active {
  padding: 0.25em;
  border-radius: 0.25em;
}

.container-places__seat--unactive {
  background-color: rgb(53, 53, 53);
  padding: 0.25em;
  border-radius: 0.25em;
}

.container-places__row {
  padding: 0.25em;
  border-radius: 0.25em;
  background-color: rgb(58, 57, 57);
}

.container-tickets {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
}

.container-next {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 24px;
  width: 80vw;
}

.disabled {
  background-color: rgb(58, 57, 57);
}
