<main>
  <div class="conainer-info" *ngIf="reservation$ | async as reservation">
    <h1>
      {{ reservation.day }} {{ reservation.hour }} {{ reservation.title }}
    </h1>
  </div>
  <div class="container-places" *ngIf="seats$ | async as seats">
    <div
      class="container-places__seat"
      *ngFor="let seat of seats; let i = index"
    >
      <div
        [style.backgroundColor]="seat.isChoosen ? '#5800ff' : 'grey'"
        *ngIf="seat.avaliable === true; else elseBlock"
        (click)="changeColor(seat.id, seat.seat)"
        class="container-places__seat--active"
      >
        {{ seat.seat }}
      </div>
      <ng-template #elseBlock>
        <div class="container-places__seat--unactive">
          {{ seat.seat }}
        </div>
      </ng-template>
    </div>
  </div>
  <div *ngIf="tickets$ | async as tickets">
    <div *ngFor="let ticket of tickets" class="container-tickets">
      <p class="gap">Rząd {{ ticket.seat[0] }} Miejsce {{ ticket.seat[1] }}</p>
      <!-- <select
        #ticketType
        (change)="changeKey(ticket.position, ticketType.value)"
      >
        <option *ngFor="let ticketType of ticketTypeArray[0] | keyvalue">
          {{ ticketType.key }} {{ ticketType.value }}zł
        </option>
      </select> -->
      <mat-form-field appearance="fill">
        <mat-label>Rodzaj biletu</mat-label>
        <mat-select #ticketType>
          <mat-option
            *ngFor="let ticketType of ticketTypeArray[0] | keyvalue"
            [value]="ticketType.value"
            (click)="
              changeKey(ticket.position, ticketType.key, ticketType.value)
            "
          >
            {{ ticketType.key }} {{ ticketType.value }}zł
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="gap">
        <i-feather
          name="trash-2"
          (click)="changeColor(ticket.position, ticket.seat)"
        ></i-feather>
      </div>
    </div>
  </div>
  <div class="container-next" *ngIf="tickets$ | async as tickets">
    <div *ngIf="tickets.length <= 10; else moreThanTen">
      <div *ngIf="tickets.length === 0; else elseBlock">
        Kup bilety aby przejść dalej
      </div>
      <ng-template #elseBlock>
        <button class="conainer-next__btn" routerLink="/form">Dalej</button>
      </ng-template>
    </div>
  </div>
  <ng-template #moreThanTen>
    Aby kupić więcej niż 10 skontaktuj się z obsługą
  </ng-template>
</main>
