<app-forms-title></app-forms-title>
    <div class="container-form">
        <form [formGroup]="profileForm">
            <input type="text" id="fname" name="fname" placeholder="nazwisko" formControlName="lastName" [class.error]="lastCtrl.touched && lastCtrl.errors">
            <ng-container *ngIf="lastCtrl.errors as errors">
                <ng-container *ngIf="lastCtrl.touched">
                  <p *ngIf="errors['required']">Te pole jest obowiązkowe</p>
                  <p *ngIf="errors['minlength'] as milLength">
                    Podałeś {{ milLength.actualLength }} znaki, minimum to
                    {{ milLength.requiredLength }}
                  </p>
                </ng-container>
            </ng-container>
            <input type="text" id="lname" name="lname" placeholder="imie" formControlName="firstName" [class.error]="firstCtrl.touched && firstCtrl.errors">
            <ng-container *ngIf="firstCtrl.errors as errors">
                <ng-container *ngIf="firstCtrl.touched">
                  <p *ngIf="errors['required']">Te pole jest obowiązkowe</p>
                  <p *ngIf="errors['minlength'] as milLength">
                    Podałeś {{ milLength.actualLength }} znaki, minimum to
                    {{ milLength.requiredLength }}
                  </p>
                </ng-container>
            </ng-container>
            <input type="tel" id="num" name="num" placeholder="numer telefonu" formControlName="phoneNumber" (keypress)="keyPress($event)" maxlength="9">
            <input type="email" id="email" name="num" placeholder="adres email" formControlName="email">
            <div *ngIf="(email.invalid && email.touched) || email.dirty">
                <small *ngIf="email.errors?.required" class="text-danger"> To pole jest wymagane </small>
                <small *ngIf="email.errors?.pattern" class="text-danger"> Proszę podać maila </small>
              </div>
            <input type="email" id="emailAgain" name="num" placeholder="powotrz adres email" formControlName="emailAgain">
            <div *ngIf="(emailAgain.invalid && emailAgain.touched) || emailAgain.dirty">
                <small *ngIf="emailAgain.errors?.required" class="text-danger">Secondary email is required</small>
                <small *ngIf="emailAgain.errors?.pattern" class="text-danger">Please provide a valid email address</small>
              </div>
            <div>
                chce otrzymywac informacje o znizkach itp
                <label class="switch" formControlName="checkbox">
                
                    <input type="checkbox">
                    
                    <span class="slider"> </span>
                </label>
            </div>
           
            <input type="text" id="code" name="code" placeholder="kod znizkowy" formControlName="bonusCode">
            <button type="button" placeholder="zamawiam" (click)="showBlik()"> zamawiam </button>
            <a href="/rezerwacja"> Wróć do wyboru miejsc </a>
        </form>
        <div *ngIf="blik; else elseBlock">Podaj kod blik: 
        <form>
          <input type="text" id="blik-code" placeholder="BLIK" formControlName="blikCode">
          <button type="button" placeholder="płace" (click)="pay()"> Płacę </button>
        </form>
        </div>
        <ng-template #elseBlock></ng-template>
    </div>

