<main>
    <div class="container-form"> 
        <h1 *ngFor="let information of title"> {{information}} </h1>
        <div *ngFor="let exactSeat of seats"> 
            <div>
                Rząd {{exactSeat.seat[0]}} siedzenie {{exactSeat.seat[1]}}
            </div>
            <div>
                {{exactSeat.type}}
            </div>
        </div>
        <div>
            razem: 22PLN
        </div>
    </div>

    <div class="container-form">
        <form>
            <input type="text" id="fname" name="fname" value="nazwisko">
            <input type="text" id="lname" name="lname" value="imie">
            <input type="tel" id="num" name="num" value="numer telefonu">
            <input type="email" id="num" name="num" value="adres email">
            <input type="email" id="num" name="num" value="powotrz adres email">
            <div>
                chce otrzymywac informacje o znizkach itp
                <label class="switch">
                
                    <input type="checkbox">
                    
                    <span class="slider"> </span>
                </label>
            </div>
           
            <input type="text" id="code" name="code" value="kod znizkowy">
            <input type="submit" value="zamawiam">
            <a href="/rezerwacja"> Wróć do wyboru miejsc </a>
        </form>
    </div>

</main>
