<nav>
  <div class="navbar__logo">AleKino</div>
  <div *ngIf="login; else elseBlock">
    <div class="navbar__settings">
      <i-feather name="shopping-cart"></i-feather>
      <select name="user" id="user">
        <option value="user">Cześć {{ userId }}</option>
        <option value="watch">Chcę obejrzeć</option>
        <option value="settings">Ustawienia</option>
        <option value="logout">Wyloguj</option>
      </select>
    </div>
  </div>
  <ng-template #elseBlock>
    <div class="navbar__settings">
      <i-feather name="shopping-cart"></i-feather>

      <button>
        <a
          routerLink="/logowanie"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          Zaloguj
        </a>
      </button>
    </div>
  </ng-template>
</nav>
