<nav>
  <a routerLink="/"> <div class="navbar__logo" appHighlight>AleKino</div> </a>
  <div *ngIf="login$ | async; else elseBlock">
    <div class="navbar__settings">
      <i-feather name="shopping-cart" routerLink="/tickets"></i-feather>
      <select name="user" id="user" (change)="navigateTo($event.target)">
        <option value="/">Cześć {{ userName }}</option>
        <option value="/want-watch">Chcę obejrzeć</option>
        <option value="ustawienia">Ustawienia</option>
        <option value="wyloguj">Wyloguj</option>
      </select>
    </div>
  </div>
  <ng-template #elseBlock>
    <div class="navbar__settings">
      <button>
        <a
          routerLink="/login"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          Zaloguj
        </a>
      </button>
    </div>
  </ng-template>
</nav>
