<div class="container">
  <h1>Dodaj film</h1>
  <form novalidate>
    <!-- [formGroup]="filmForm"  -->
    <div class="form-group">
      <label>Tytuł:</label>
      <input class="form-control" formControlName="title" type="text" />
    </div>
    <div
      *ngIf="
        filmForm.controls['title'].invalid &&
        (filmForm.controls['title'].dirty || filmForm.controls['title'].touched)
      "
      class="alert alert-danger"
    >
      <div *ngIf="filmForm.controls['title'].errors?.required">
        Pole tytuł wymagane
      </div>
    </div>
    <div class="form-group">
      <label> Gatunki filmów </label>
      <input class="form-control" formControlName="types" type="text" />
    </div>
    <div
      *ngIf="
        filmForm.controls['types'].invalid &&
        (filmForm.controls['types'].dirty || filmForm.controls['types'].touched)
      "
      class="alert alert-danger"
    >
      <div *ngIf="filmForm.controls['types'].errors?.required">Pole typy</div>
    </div>
    <div class="form-group">
      <label>Image link:</label>
      <input class="form-control" formControlName="image" type="text" />
    </div>
    <div
      *ngIf="
        filmForm.controls['image'].invalid &&
        (filmForm.controls['image'].dirty || filmForm.controls['image'].touched)
      "
      class="alert alert-danger"
    >
      <div *ngIf="filmForm.controls['image'].errors?.required">
        Pole zdjęcie wymagane
      </div>
    </div>
    <div class="form-group">
      <label>Opis:</label>
      <input class="form-control" formControlName="description" type="text" />
    </div>
    <div
      *ngIf="
        filmForm.controls['description'].invalid &&
        (filmForm.controls['description'].dirty ||
          filmForm.controls['description'].touched)
      "
      class="alert alert-danger"
    >
      <div *ngIf="filmForm.controls['description'].errors?.required">
        Pole opis wymagane
      </div>
    </div>
    <div class="form-group">
      <label>Name:</label>
      <input class="form-control" formControlName="rating" type="text" />
    </div>
    <div
      *ngIf="
        filmForm.controls['rating'].invalid &&
        (filmForm.controls['rating'].dirty ||
          filmForm.controls['rating'].touched)
      "
      class="alert alert-danger"
    >
      <div *ngIf="filmForm.controls['rating'].errors?.required">
        Pole rating wymagane
      </div>
    </div>
    <button
      type="submit"
      [disabled]="filmForm.pristine || filmForm.invalid"
      class="btn btn-success"
      (click)="addFilm()"
    >
      Save
    </button>
  </form>
  <br />
</div>
<!-- <app-admin-screenings></app-admin-screenings> -->
