<div class="forms-container">
  <div class="container">
    <h1>Dodaj film</h1>
    <form [formGroup]="filmForm" novalidate>
      <div class="form-group">
        <mat-form-field>
          <input
            class="form-control"
            formControlName="title"
            type="text"
            matInput
            placeholder="Tytuł"
        /></mat-form-field>
      </div>
      <div
        *ngIf="
          filmForm.controls['title'].invalid &&
          (filmForm.controls['title'].dirty ||
            filmForm.controls['title'].touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="filmForm.controls['title'].errors?.required">
          Pole tytuł wymagane
        </div>
      </div>
      <div class="form-group">
        <mat-form-field>
          <input
            class="form-control"
            formControlName="types"
            type="text"
            matInput
            placeholder="Gatunki filmów"
        /></mat-form-field>
      </div>
      <div
        *ngIf="
          filmForm.controls['types'].invalid &&
          (filmForm.controls['types'].dirty ||
            filmForm.controls['types'].touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="filmForm.controls['types'].errors?.required">
          Pole gatunki filmów wymagane
        </div>
      </div>
      <div class="form-group">
        <mat-form-field>
          <input
            class="form-control"
            formControlName="image"
            type="text"
            matInput
            placeholder="Link do plakatu"
          />
        </mat-form-field>
      </div>
      <div
        *ngIf="
          filmForm.controls['image'].invalid &&
          (filmForm.controls['image'].dirty ||
            filmForm.controls['image'].touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="filmForm.controls['image'].errors?.required">
          Pole zdjęcie wymagane
        </div>
      </div>
      <div class="form-group">
        <mat-form-field>
          <input
            class="form-control"
            formControlName="description"
            type="text"
            matInput
            placeholder="Opis"
          />
        </mat-form-field>
      </div>
      <div
        *ngIf="
          filmForm.controls['description'].invalid &&
          (filmForm.controls['description'].dirty ||
            filmForm.controls['description'].touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="filmForm.controls['description'].errors?.required">
          Pole opis wymagane
        </div>
      </div>
      <div class="form-group">
        <mat-form-field>
          <input
            class="form-control"
            formControlName="rating"
            type="text"
            matInput
            placeholder="Ocena"
          />
        </mat-form-field>
      </div>
      <div
        *ngIf="
          filmForm.controls['rating'].invalid &&
          (filmForm.controls['rating'].dirty ||
            filmForm.controls['rating'].touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="filmForm.controls['rating'].errors?.required">
          Pole rating wymagane
        </div>
      </div>
      <div class="form-group">
        <mat-form-field>
          <input
            class="form-control"
            formControlName="length"
            type="text"
            matInput
            placeholder="Długość w minutach"
          />
        </mat-form-field>
      </div>
      <div
        *ngIf="
          filmForm.controls['length'].invalid &&
          (filmForm.controls['length'].dirty ||
            filmForm.controls['length'].touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="filmForm.controls['length'].errors?.required">
          Pole długość wymagane
        </div>
      </div>
      <button
        type="submit"
        [disabled]="filmForm.pristine || filmForm.invalid"
        class="btn btn-success"
        (click)="addFilm()"
      >
        Wyślij film
      </button>
    </form>
    <br />
  </div>
  <app-admin-screenings></app-admin-screenings>
</div>
