<div class="container-film">
    <div class="container-film__img">
        <img src="../../assets/image.webp" alt="film"/>
    </div>
    <div class="container-film__about">
        <div class="container-film__about_title"> Co w duszy gra</div>
        <div class="container-film__about_types"> Horror | Pg13 | Comedy</div>
        <div class="container-film__about_paragraph"> 
        <div *ngIf="flag; else elseBlock"> {{shortDescription}} <button (click)="more()"> more </button> </div>
        <ng-template #elseBlock> {{description}} <button (click)="more()"> less </button> </ng-template>
        
   
        </div>
        <div class="container-film__about_time" >
            <app-film-panel-hour></app-film-panel-hour>
        </div>
    </div>
    <div class="container-film__stats">
        <div class="container-film__stats_number"> 2/10</div>
    </div>
</div>
