<!-- <div class="container">
  <form [formGroup]="screeningForm">
    <mat-form-field>
      <mat-label>Film id (później dropdown)</mat-label>
      <input
        matInput
        maxlength="15"
        inputmode="tel"
        placeholder="Type name"
        formControlName="film"
        #nameInput
      />
      <mat-hint>Mini character 10: {{ nameInput.value.length }}/10</mat-hint>
      <mat-error>Name is required</mat-error>
      <mat-error *ngIf="screeningForm.controls['film'].errors?.['minlength']">
        Please enter more than 10 character
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Data:</mat-label>
      <input matInput type="email" formControlName="date" placeholder="data" />
      <mat-icon matSuffix>mail_outline</mat-icon>
      <mat-hint>Input the fully qualified email address</mat-hint>
      <mat-error *ngIf="screeningForm.controls['date'].errors?.['required']"
        >Email is required</mat-error
      >
      <mat-error *ngIf="screeningForm.controls['date'].errors?.['pattern']"
        >Please enter valid email</mat-error
      >
    </mat-form-field>

    <mat-checkbox class="example-margin" [(ngModel)]="checked"
      >Checked</mat-checkbox
    >
    <button type="submit" class="btn btn-success" (click)="addScreening()">
      Save
    </button>
    <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="pat@example.com" required />
      <mat-error></mat-error>
    </mat-form-field>
  </form>
  <div>{{ screeningForm.value | json }}</div>
</div> -->
