<div class="container">
  <form [formGroup]="screeningForm">
    <mat-form-field appearance="fill">
      <mat-label>Choose an option</mat-label>
      <mat-select>
        <ng-container *ngIf="allFilms$ | async as films">
          <ng-container *ngFor="let film of films">
            <mat-option
              value="{{ film.title }}"
              (click)="setValue(film.id)"
              formControlName="film"
            >
              {{ film.title }}</mat-option
            >
          </ng-container>
        </ng-container>
      </mat-select>
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>Data:</mat-label>
      <input matInput type="email" formControlName="date" placeholder="data" />
      <mat-error *ngIf="screeningForm.controls['date'].errors?.['required']"
        >Email is required</mat-error
      >
      <mat-error *ngIf="screeningForm.controls['date'].errors?.['pattern']"
        >Please enter valid email</mat-error
      >
    </mat-form-field>
    <br />
    <mat-checkbox
      class="example-margin"
      [(ngModel)]="checked"
      formControlName="premier"
    >
      premiera
    </mat-checkbox>
    <br />
    <p>
      <button type="button" (click)="addSkills()">Dodaj godzinę</button>
    </p>
    <form [formGroup]="skillsForm">
      <div formArrayName="skills">
        <div *ngFor="let skill of skills.controls; let i = index">
          <div [formGroupName]="i">
            Godzina seansu:
            <input type="text" formControlName="exp" />

            <button (click)="removeSkill(i)">Usuń</button>
          </div>
        </div>
      </div>
    </form>
  </form>

  <button type="submit" class="btn btn-success" (click)="addScreening()">
    Dodaj seans
  </button>
</div>
