<main>
    <div class="conainer-info"> <h1> Title, date, etc</h1> </div>
    <div class="container-places"> 
        <div class="container-places__seat"> A </div>
        <div class="container-places__seat"> 1 </div>
        <div class="container-places__seat"> 2 </div>
        <div class="container-places__seat"> 3 </div>
        <div class="container-places__seat"> 4 </div>
        <div class="container-places__seat"> 5 </div>
        <div class="container-places__seat"> 6 </div>
        <div class="container-places__seat"> 7 </div>
        <div class="container-places__seat"> 8 </div>
        <div class="container-places__seat"> 9 </div>
        <div class="container-places__seat"> 10 </div>
        <div class="container-places__seat"> 11 </div>

        <div class="container-places__seat"> B </div>
        <div class="container-places__seat"> 1 </div>
        <div class="container-places__seat"> 2 </div>
        <div class="container-places__seat"> 3 </div>
        <div class="container-places__seat"> 4 </div>
        <div class="container-places__seat"> 5 </div>
        <div class="container-places__seat"> 6 </div>
        <div class="container-places__seat"> 7 </div>
        <div class="container-places__seat"> 8 </div>
        <div class="container-places__seat"> 9 </div>
        <div class="container-places__seat"> 10 </div>
        <div class="container-places__seat"> 11 </div>
    
        <div class="container-places__seat"> C </div>
        <div class="container-places__seat"> 1 </div>
        <div class="container-places__seat"> 2 </div>
        <div class="container-places__seat"> 3 </div>
        <div class="container-places__seat"> 4 </div>
        <div class="container-places__seat"> 5 </div>
        <div class="container-places__seat"> 6 </div>
        <div class="container-places__seat"> 7 </div>
        <div class="container-places__seat"> 8 </div>
        <div class="container-places__seat"> 9 </div>
        <div class="container-places__seat"> 10 </div>
        <div class="container-places__seat"> 11 </div>

        <div class="container-places__seat"> D </div>
        <div class="container-places__seat"> 1 </div>
        <div class="container-places__seat"> 2 </div>
        <div class="container-places__seat"> 3 </div>
        <div class="container-places__seat"> 4 </div>
        <div class="container-places__seat"> 5 </div>
        <div class="container-places__seat"> 6 </div>
        <div class="container-places__seat"> 7 </div>
        <div class="container-places__seat"> 8 </div>
        <div class="container-places__seat"> 9 </div>
        <div class="container-places__seat"> 10 </div>
        <div class="container-places__seat"> 11 </div>

        <div class="container-places__seat"> E </div>
        <div class="container-places__seat"> 1 </div>
        <div class="container-places__seat"> 2 </div>
        <div class="container-places__seat"> 3 </div>
        <div class="container-places__seat"> 4 </div>
        <div class="container-places__seat"> 5 </div>
        <div class="container-places__seat"> 6 </div>
        <div class="container-places__seat"> 7 </div>
        <div class="container-places__seat"> 8 </div>
        <div class="container-places__seat"> 9 </div>
        <div class="container-places__seat"> 10 </div>
        <div class="container-places__seat"> 11 </div>

        <div class="container-places__seat"> F </div>
        <div class="container-places__seat"> 1 </div>
        <div class="container-places__seat"> 2 </div>
        <div class="container-places__seat"> 3 </div>
        <div class="container-places__seat"> 4 </div>
        <div class="container-places__seat"> 5 </div>
        <div class="container-places__seat"> 6 </div>
        <div class="container-places__seat"> 7 </div>
        <div class="container-places__seat"> 8 </div>
        <div class="container-places__seat"> 9 </div>
        <div class="container-places__seat"> 10 </div>
        <div class="container-places__seat"> 11 </div>

        <div class="container-places__seat"> G </div>
        <div class="container-places__seat"> 1 </div>
        <div class="container-places__seat"> 2 </div>
        <div class="container-places__seat"> 3 </div>
        <div class="container-places__seat"> 4 </div>
        <div class="container-places__seat"> 5 </div>
        <div class="container-places__seat"> 6 </div>
        <div class="container-places__seat"> 7 </div>
        <div class="container-places__seat"> 8 </div>
        <div class="container-places__seat"> 9 </div>
        <div class="container-places__seat"> 10 </div>
        <div class="container-places__seat"> 11 </div>

        <div class="container-places__seat"> H </div>
        <div class="container-places__seat"> 1 </div>
        <div class="container-places__seat"> 2 </div>
        <div class="container-places__seat"> 3 </div>
        <div class="container-places__seat"> 4 </div>
        <div class="container-places__seat"> 5 </div>
        <div class="container-places__seat"> 6 </div>
        <div class="container-places__seat"> 7 </div>
        <div class="container-places__seat"> 8 </div>
        <div class="container-places__seat"> 9 </div>
        <div class="container-places__seat"> 10 </div>
        <div class="container-places__seat"> 11 </div>

        <div class="container-places__seat"> I </div>
        <div class="container-places__seat"> 1 </div>
        <div class="container-places__seat"> 2 </div>
        <div class="container-places__seat"> 3 </div>
        <div class="container-places__seat"> 4 </div>
        <div class="container-places__seat"> 5 </div>
        <div class="container-places__seat"> 6 </div>
        <div class="container-places__seat"> 7 </div>
        <div class="container-places__seat"> 8 </div>
        <div class="container-places__seat"> 9 </div>
        <div class="container-places__seat"> 10 </div>
        <div class="container-places__seat"> 11 </div>

        <div class="container-places__seat"> J </div>
        <div class="container-places__seat"> 1 </div>
        <div class="container-places__seat"> 2 </div>
        <div class="container-places__seat"> 3 </div>
        <div class="container-places__seat"> 4 </div>
        <div class="container-places__seat"> 5 </div>
        <div class="container-places__seat"> 6 </div>
        <div class="container-places__seat"> 7 </div>
        <div class="container-places__seat"> 8 </div>
        <div class="container-places__seat"> 9 </div>
        <div class="container-places__seat"> 10 </div>
        <div class="container-places__seat"> 11 </div>

        <div class="container-places__seat"> K </div>
        <div class="container-places__seat"> 1 </div>
        <div class="container-places__seat"> 2 </div>
        <div class="container-places__seat"> 3 </div>
        <div class="container-places__seat"> 4 </div>
        <div class="container-places__seat"> 5 </div>
        <div class="container-places__seat"> 6 </div>
        <div class="container-places__seat"> 7 </div>
        <div class="container-places__seat"> 8 </div>
        <div class="container-places__seat"> 9 </div>
        <div class="container-places__seat"> 10 </div>
        <div class="container-places__seat"> 11 </div>
    </div>

    <div class="container-tickets">
        <div> <p> Rząd E Miejsce 6</p> </div>
        <div> 
          <select id="tickets">
            <option value="normal"> bilet normalny </option>
            <option value="family"> bliet rodzinny </option>
            <option value="discount"> bilet ulgowy </option>
            <option value="voucher"> voucher </option>
          </select>
        </div>
    </div>
</main>
