<main>
    <div class="conainer-info"> <h1 *ngFor="let info of header"> {{info}} </h1> </div>
    <div class="container-places" > 
        <div class="container-places__seat" *ngFor="let seat of seats; let i = index">
            <div  [style.backgroundColor]="styleArray[i] ? 'rgb(49, 110, 51)':'grey'" *ngIf="seat.avaliable === true; else elseBlock"  (click)="checkSeat(seat.seat)" (click)="changeColor(i)" class="container-places__seat--active"> {{seat.seat}} </div>
            <ng-template #elseBlock> <div class="container-places__seat--unactive"> {{seat.seat}}  </div></ng-template>
        </div>
    </div>

    <div class="container-tickets" *ngFor="let ticket of payload">
        <div> <p> Rząd {{ticket[0][0]}} Miejsce {{ticket[0][1]}}</p> </div>
        <div> 
          <select id="tickets">
            <option value="normal"> bilet normalny </option>
            <option value="family"> bliet rodzinny </option>
            <option value="discount"> bilet ulgowy </option>
            <option value="voucher"> voucher </option>
          </select>
        </div>
        <div>  
            <i-feather name="trash-2" ></i-feather> 
        </div>
    </div>

    <div class="container-next">
        <button class="conainer-next__btn"> Dalej </button>
    </div>
</main>
