<main>
    <div class="conainer-info"> <h1> Title, date, etc</h1> </div>
    <div class="container-places" *ngFor="let letter of letters;"> 
        <div class="container-places__row"> {{letter}} </div>
        <div class="container-places__seat" *ngFor="let seat of seats;" >
            <p (click)="checkSeat(letter, seat)"> {{ seat }} </p> 
        </div>
    </div>

    <div class="container-tickets">
        <button> Dodaj </button>
        <div> <p> Rząd E Miejsce 6</p> </div>
        <div> 
          <select id="tickets">
            <option value="normal"> bilet normalny </option>
            <option value="family"> bliet rodzinny </option>
            <option value="discount"> bilet ulgowy </option>
            <option value="voucher"> voucher </option>
          </select>
        </div>
        <div>  
            <i-feather name="trash-2" ></i-feather> 
        </div>
    </div>

    <div class="container-next">
        <button class="conainer-next__btn"> Dalej </button>
    </div>
</main>
