<section *ngIf="screenings$ | async as screenings">
  <ng-container *ngIf="user$ | async as userDetails">
    <ng-container *ngIf="auth$ | async as auth">
      <ng-container *ngIf="screenings.length; else elseBlock">
        <div *ngFor="let screen of screenings">
          <div class="film-container">
            <app-film
              [film]="screen.film"
              [premiere]="screen.premiere"
              [hours]="screen.hours"
              [selectedDay]="selectedDay"
              [now]="now"
              (handleChangingDate)="moreDetails($event)"
            ></app-film>
            <div class="film-container__hour">
              <div *ngIf="auth.hasAuth">
                <app-rating [filmId]="screen.film.id"></app-rating>
                <app-want-to-watch
                  [filmId]="screen.film.id"
                ></app-want-to-watch>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #elseBlock>
        <div class="no-films">
          <h1>W tym dniu nie gramy żadnych filmów</h1>
        </div>
      </ng-template>
    </ng-container>
  </ng-container>
</section>
