.film-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  box-shadow: 1px 1px 6px 1px #2f0086;
  border-radius: 16px;
  margin: 16px;
}

.film-container__hour {
  width: 10vw;
}

@media (max-width: 850px) {
  .film-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .container-film__img {
    display: flex;
    justify-content: center;
  }

  .container-film__img img {
    width: 50%;

    object-fit: cover;
  }
}
