<h1 mat-dialog-title>Dialog with elements</h1>
<div
  style="
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  "
>
  <div
    *ngFor="let star of numberOfStars"
    style="padding: 8px"
    (click)="setStar(star)"
  >
    {{ star }}
  </div>
  <p *ngIf="starValue !== 0">Twoja ocena: {{ starValue }}</p>
</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="closeDialog()">Zamknij</button>
  <button mat-button (click)="sendRating()">Wyślij ocenę</button>
</div>
