<div
  style="
    color: black;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
  "
>
  <div style="display: flex">
    <div
      *ngFor="let star of numberOfStars"
      style="padding: 8px"
      (click)="setStar(star)"
    >
      {{ star }}
    </div>
  </div>

  <div>
    <p *ngIf="starValue !== 0">Twoja ocena: {{ starValue }}</p>
  </div>
</div>

<div mat-dialog-actions style="padding: 8px">
  <button mat-button mat-dialog-close (click)="closeDialog()">Zamknij</button>
  <button mat-button (click)="sendValue()">Wyślij ocenę</button>
</div>
