* {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: black;
  color: white;
}

/* global styles for buttons */
button {
  background-color: #5800ff;
  border: none;
  color: white;
  margin: 4px;
  border-radius: 4px;
  padding: 4px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
