<div class="container-form">
  <form [formGroup]="profileForm">
    <input
      type="text"
      id="fname"
      name="fname"
      placeholder="nazwisko"
      formControlName="lastName"
      [class.error]="lastCtrl.touched && lastCtrl.errors"
    />
    <ng-container *ngIf="lastCtrl.errors as errors">
      <ng-container *ngIf="lastCtrl.touched">
        <p *ngIf="errors['required']">Te pole jest obowiązkowe</p>
        <p *ngIf="errors['minlength'] as milLength">
          Podałeś {{ milLength.actualLength }} znaki, minimum to
          {{ milLength.requiredLength }}
        </p>
        <p *ngIf="errors['leadingOrTrailingSpace']">Nie tym razem 😎</p>
        <p *ngIf="errors['tooManySpaces']">Nie tym razem 😎</p>
      </ng-container>
    </ng-container>
    <input
      type="text"
      id="lname"
      name="lname"
      placeholder="imie"
      formControlName="firstName"
      [class.error]="firstCtrl.touched && firstCtrl.errors"
    />
    <ng-container *ngIf="firstCtrl.errors as errors">
      <ng-container *ngIf="firstCtrl.touched">
        <p *ngIf="errors['required']">Te pole jest obowiązkowe</p>
        <p *ngIf="errors['minlength'] as milLength">
          Podałeś {{ milLength.actualLength }} znaki, minimum to
          {{ milLength.requiredLength }}
        </p>
        <p *ngIf="errors['leadingOrTrailingSpace']">Nie tym razem 😎</p>
        <p *ngIf="errors['tooManySpaces']">Nie tym razem 😎</p>
      </ng-container>
    </ng-container>
    <input
      type="tel"
      id="num"
      name="num"
      placeholder="numer telefonu"
      formControlName="phoneNumber"
      numbersOnly
      maxlength="9"
    />
    <input
      type="email"
      id="email"
      name="num"
      placeholder="adres email"
      formControlName="email"
    />
    <ng-component *ngIf="emailCtrl.errors as error">
      <div *ngIf="(emailCtrl.invalid && emailCtrl.touched) || emailCtrl.dirty">
        <small *ngIf="emailCtrl.errors?.required" class="text-danger">
          To pole jest wymagane
        </small>
        <small *ngIf="emailCtrl.errors?.pattern" class="text-danger">
          Proszę podać maila
        </small>
        <p *ngIf="errors['leadingOrTrailingSpace']">Nie tym razem 😎</p>
        <p *ngIf="errors['tooManySpaces']">Nie tym razem 😎</p>
      </div>
    </ng-component>

    <input
      type="email"
      id="emailAgain"
      name="num"
      placeholder="powotrz adres email"
      formControlName="emailAgain"
    />
    <div
      *ngIf="
        (emailAgainCtrl.invalid && emailAgainCtrl.touched) ||
        emailAgainCtrl.dirty
      "
    >
      <small *ngIf="emailAgainCtrl.errors?.required" class="text-danger">
        Wymagane potwierdzenie emailu</small
      >
      <small *ngIf="emailAgainCtrl.errors?.pattern" class="text-danger">
        Podaj właściwy adres email</small
      >
      <small *ngIf="profileForm.errors as error" class="text-danger">
        Podaj właściwy drugi email</small
      >
      <p *ngIf="errors['leadingOrTrailingSpace']">Nie tym razem 😎</p>
      <p *ngIf="errors['tooManySpaces']">Nie tym razem 😎</p>
    </div>
    <div>
      chce otrzymywac informacje o znizkach itp
      <label class="switch" formControlName="checkbox">
        <input type="checkbox" />

        <span class="slider"> </span>
      </label>
    </div>

    <input
      type="text"
      id="code"
      name="code"
      placeholder="kod znizkowy"
      formControlName="bonusCode"
      numbersOnly
    />

    <button type="button" placeholder="zamawiam" (click)="promotionCode()">
      obniż cenę
    </button>
    <button type="button" placeholder="zamawiam" (click)="showBlik()">
      zamawiam
    </button>
    <ng-container *ngIf="checkout; else elseBlock2"> </ng-container>
    <div *ngIf="blik; else elseBlock">
      Podaj kod blik:
      <form [formGroup]="blikForm">
        <input
          type="text"
          id="blik-code"
          placeholder="BLIK"
          formControlName="blikCodeInput"
          numbersOnly
        />
        <button type="button" placeholder="płace" (click)="pay()">Płacę</button>
      </form>
    </div>
    <ng-template #elseBlock2> Wprowadź prawidłowe dane </ng-template>
  </form>

  <ng-template #elseBlock></ng-template>
</div>
<a href="/rezerwacja"> Wróć do wyboru miejsc </a>
<router-outlet></router-outlet>
